<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{email}}!</h2>
    <p>dashboard.handlebars</p>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>New Article</h3>

    <form class="form new-article-form">
      <div class="form-group">
        <label for="article-title">Article Title:</label>
        <input class="form-input" type="text" id="article-title" name="article-title" />
      </div>
      <div class="form-group">
        <label for="article-body">Article Body:</label>
        <textarea class="form-input" id="article-body" name="article-body"></textarea>
      </div>
          <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

 {{#if articles.length}}
  <div class="col-md-6 article-list">
    <h3>Posted Articles:</h3>

    {{#each articles as |article|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/article/{{article.id}}">{{article.title}}</a></h4>
      </div>
        <p>Created on {{format_date createdAt}}</p>
      <div class="col-md-4">
        <button class="btn btn-sm bt{{format_date createdAt}}n-danger" data-id="{{article.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>



<script src="./js/dashboard.js"></script>


